fastapi
uvicorn
python-dotenv
pandas
requests
langchain
openai
langchain-openai
langgraph
langchain-community
langchain-google-genai
langchain-chroma
langchain_milvus
langchain-groq
chromadb
streamlit
typing_extensions
uvicorn
pypdf